{% load static %}

<!-- Navigation Bar -->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<nav style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color:rgb(0, 0, 0); color: white;">
    <!-- Logo (left side) -->
    <div>
        <a href="/">
            <img src="{% static 'images/logo.png' %}" alt="PopcornReview Logo" style="height: 50px;">
        </a>
    </div>

    <!-- Navigation Links (right side) -->
    <div>
        <a href="/" style="margin-right: 20px; text-decoration: none; color: white;">Home</a>
        <a href="/about/" style="margin-right: 20px; text-decoration: none; color: white;">About</a>
        <a href="/search/" style="margin-right: 20px; text-decoration: none; color: white;">Search <i class="fas fa-search"></i></a>
        
        <!-- Show Logout if User is Logged In -->
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" style="margin-right: 20px; text-decoration: none; color: white;">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" style="margin-right: 20px; text-decoration: none; color: white;">Login</a>
            <a href="{% url 'signup' %}" style="margin-right: 20px; text-decoration: none; color: white;">Sign Up</a>
        {% endif %}

        <!-- Show Profile if User is Logged In -->
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" style="margin-right: 20px; text-decoration: none; color: white;">Profile</a>
        {% endif %}

    </div>
</nav>
